# Data Science Tools and Ecosystem

## Author
Jessica Peterson

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- List popular languages for Data Science
- List common libraries for Data Science
- List open source Data Science Tools
- Simple arithmetic

_*Some of the popular languages that Data Scientists use are:*_

1. Python
2. R
3. SQL
4. Java

_*Some of the commonly used libraries used by Data Scientists include:*_

1. Pandas (Python)
2. numPy (Python)
3. Matplotlib (Python)

| **Data Science Tools** |
|--- |
| Ceph |
| MySQL |
| Apache Cassandra |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing by 60

200/60

3.3333333333333335